/* Navbar */

.navbar {
    height: 104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #333;
    border: 1px solid grey;
    color: white;
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(12, 5, 25, 0.70) 8.82%, rgba(12, 5, 25, 0.30) 73.1%, rgba(12, 5, 25, 0.00) 100%);
    border: none;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul a {
    padding: 10px;
    color: white;
    text-decoration: none;
    transition: .2s ease;
}

.navHolder {
    height: 66px;
    width: 377px;
    padding-left: 117.5px;
    margin-right: 20px;
}

.Logo {
    width: 66px;
    height: 66px;
}

.navlink {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-left: 50px;
}

#navbarText {
    margin-left: 80px;
    margin-top: -44px;
}

.btn {
    width: 160px;
    height: 55px;
    border-radius: 100px;
    border: 4px solid rgba(242, 153, 74, 1);
    background-color: rgba(225, 225, 225, 0);
    color: white;
    font-size: 16px;
    font-weight: 700;
    font-family: "Inter", sans-serif;
    margin-right: 100px;
}

.btn:hover {
    border-radius: 100px;
    padding: 16px, 80px, 16px, 80px;
    background-color: #F2994A;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 7px 11px 12px 0px rgba(242, 153, 74, 0.09),15px 24px 17px 0px rgba(242, 153, 74, 0.09),
    26px 42px 20px 0px rgba(242, 153, 74, 0.01), 41px 66px 22px 0px rgba(242, 153, 74, 0),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


/* Footer */